* {
    font-family: 'Poppins', sans-serif !important;
}
.black-font {
    color: black !important;
}

.navLink {
    font-size: 0.8em;
}

.wallpaper {
    width: 200%;
    height: auto;
}

.length {
    width: 100% !important;
    padding: 0 !important;
}

.subheading {
    text-align: center;
    margin: 1rem 0;
}

.slogan {
    font-size: 1em;
}

.begin {
    display: none;
    margin-right: 0.75rem;
}

@media only screen and (min-width: 740px) {
    .logo {
        margin-right: 2rem;
        margin-left: 1.5rem;
    }

    .slogan {
        font-size: 1.2em;
    }

    .begin {
        display: inline-flex;
    }

    .wallpaper {
        width: 100%;
        height: 25rem;
    }

    .navLink {
        margin-right: 3rem;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1250px) {
    .slogan {
        font-size: 1.7em;
    }

    .begin {
        display: inline-flex;
    }

    .wallpaper {
        height: 35rem;
        width: 100%;
    }

}

@media only screen and (min-width: 2000px) {
    .slogan {
        font-size: 2.4em;
    }

    .begin {
        display: inline-flex;
    }

    .wallpaper {
        height: 45rem;
        width: 100%;
    }

    .navLink {
        font-size: 1.7em;
    }
}